* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-image: url("assets/pizza-background.jpg");
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
}
.container {
    background-color: darksalmon;
    max-width: 480px;
    width: 30svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
}
article.list {
    display: flex;
    justify-content: space-between;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1.15rem;
}
hr {
    border-color: salmon salmon;
    border-width: 2px;
    width: 90%;
}
h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
}
h2 {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    font-size: 1.45rem;
}
article > p {
    margin: 0.25rem;
}
footer {
    display: inline-block;
    font-size: 1rem;
}
header > p {
    font-style: italic;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: darkred;
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    .container {
        width: 90svw;
        height: 90svh;
        margin: 0.25rem;
    }
}